<div class="ui fluid card">
    <div class="ui image medium">
        {% if item.image_url %}
            <img src="{{item.image_url}}" alt="Product Image">
        {% else %}
            <img src="https://www.kpfinder.com/assets/default_product.jpg" alt="Product Image">
        {% endif %}
        
    </div>

    <div class="content">
        <div class="header">
            <a href=" {{ url_for('show_item', category_name=item.category.name, item_name=item.name) }}">{{item.name}}</a>
        </div>
        
        <div class="meta">
            <a href="">{{item.category.name}}</a>
        </div>

        {% if item.description %}
            <p>{{item.description}}</p>
        {% endif %}
    </div>

    <div class="extra content">
        {% if item.user_id == session['user_id'] %}
            <a class="ui button" href="{{ url_for('edit_item', item_name=item.name, category_name=item.category.name) }}">Edit</a>
            <a class="ui red button" href="{{ url_for('delete_item', item_name=item.name, category_name=item.category.name) }}">Delete</a>
        {% endif %}

        <div class="right floated author">
            {% if item.user.picture %}
                <img class="ui avatar image" src="{{item.user.picture}}">
            {% endif %} {{item.user.name}}
        </div>
    </div>
</div>