{% extends "base.html" %}
{% block content %}
    <div id="signInButton">
        <span class="g-signin"
            data-scope="openid email"
            data-clientid="510006158801-1lrak40ivbainjhh4qeqhc14v7n3o8hd.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
        </span>
    </div>

    <script>
        function signInCallback(authResult) {
            $("#pageDimmer").dimmer('show');
            //$("#loader").toggleClass("active");

            if (authResult['code']) {
                $('#signInButton').attr('style', 'display: none');
                
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',

                    success: function(result) {
                        if (result) {
                            //Redirecting to the main page.
                            setTimeout(function() {
                                window.location.href = "/";
                            }, 3000);
                            
                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $("#pageDimmer").dimmer('hide');
                            $(".ui.message").addClass("negative");
                            $(".ui.message").html("Failed to make a server-side call. Check your configuration and console.");
                        }
                    }
                }); 
            } 
        }
    </script>
{% endblock %}